<h1>Party Forever</h1>
<div>
  <div id="map_canvas">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
          <ui-gmap-marker coords="marker.coords" idkey="marker.id">
          </ui-gmap-marker>
      </ui-gmap-google-map>
  </div>
  <md-button class="btn btn-success" ng-click="initMap()">Start A Party</md-button>
  <br>
  <md-button class="btn btn-warning" ng-click="invite()" ng-disabled="!geolocated">Create Invitations</md-button>
  <md-button class="btn btn-info"> <a class="invite-party-people" href="#/my-profile">No Invitations Just Yet</a></md-button>
</div>