<div>
  <h1>This time, let's party for real this time.</h1>
  <br>
  <section class="auth-form">
    <h4>Login or Register to Party</h4>
    <br>
      <div>
        email: <input type="email" name="email" placeholder="primary party email" autofocus="true" ng-model="account.email">
      </div>
      <br>
      <div>
        password: <input type="password" name="password" placeholder="primary party pw" ng-model="account.password">
      </div>
      <div>
      <br>
        <button class="btn btn-info" ng-click="login()">Login</button>
        <button class="btn btn-success" ng-click="register()">Register</button>
      </div>
  </section>
</div>