<h1>{{title}}</h1>

<form>

  <div class="form-group">
    <label>Name</label>
    <div ng-model="newUserProfile.name"></div>
  </div>
  <div class="form-group">
    <label>Username</label>
    <div ng-model="newUserProfile.userName"></div>
  </div>
  <div class="form-group">
    <label>City</label>
    <div ng-model="newUserProfile.city"></div>
  </div>
  <div class="form-group">
    <label>Age</label>
    <div ng-model="newUserProfile.age"></div>
  </div>

  <button type="" class="btn btn-warning" ng-click="editProfile()">Edit</button>

</form>
