<div>
  <h1 class="myProfile"><--{{title}} ¯\_(ツ)_/¯ {{parties}}--></h1>
<br>
  <div class="profileForm">
    <h4>Name </h4>
    <span>{{profile.name}}</span>
    <h4>Username </h4>
    <span>{{profile.userName}}</span>
    <h4>City </h4>
    <span>{{profile.city}}</span>
    <h4>Age </h4>
    <span>{{profile.age}} years old</span>
  </div>
  <br>
  <div class="otherInfo">
    <div>
      <h4>Invited: {{invitedCount}}</h4>
      <ul ng-repeat="party in profile.invited">
        <li><a ng-href="/#/party/{{party.partyId}}">{{party.partyName}}</a></li>
      </ul>
    </div>
    <div>
      <div>
        <h4>RSVP Status</h4>
          <h6>Attending: {{attendingCount}}</h6>
          <ul ng-repeat="party in profile.attending">
            <li><a ng-href="/#/party/{{party.partyId}}">{{party.partyName}}</a></li>
          </ul>
      </div>
      <div>
        <h5>Declined: {{declinedCount}}</h5>
        <ul ng-repeat="party in profile.declined">
          <li><a ng-href="/#/party/{{party.partyId}}">{{party.partyName}}</a></li>
        </ul>
      </div>
      <div>
        <h4>My Parties: </h4>
        <ul ng-repeat="(partyId, party) in ownerParties">
          <li><a ng-href="/#/party/{{partyId}}">{{party.partyName}}</a></li>
        </ul>
      </div>
    </div>
  </div>
    <md-button class="party-btn btn btn-success md-primary" ng-click="goToPartyForm()">Start A party</md-button>
</div>
