<h1>{{title}}</h1>

<form>

  <div class="form-group">
    <label>Name</label>
    <div>{{profile.name}}</div>
  </div>

  <div class="form-group">
    <label>Username</label>
    <div>{{profile.userName}}</div>
  </div>

  <div class="form-group">
    <label>City</label>
    <div>{{profile.city}}</div>
  </div>

  <div class="form-group">
    <label>Age</label>
    <div>{{profile.age}}</div>
  </div>
  <br>
  <div>
    <p>Invited: {{invitedCount}}</p>
    <ul ng-repeat="party in profile.invited">
      <li><a ng-href="/#/party/{{party.partyId}}">{{party.partyName}}</a></li>
    </ul>

  </div>
  <div>
    <p>Attending: {{attendingCount}}</p>
    <ul ng-repeat="party in profile.attending">
      <li><a ng-href="/#/party/{{party.partyId}}">{{party.partyName}}</a></li>
    </ul>

  </div>
  <div>
    <p>Declined: {{declinedCount}}</p>
    <ul ng-repeat="party in profile.declined">
      <li><a ng-href="/#/party/{{party.partyId}}">{{party.partyName}}</a></li>
    </ul>
  </div>
  <div>
    <p>My Parties: </p>
    <ul ng-repeat="(partyId, party) in ownerParties">
      <li><a ng-href="/#/party/{{partyId}}">{{party.partyName}}></a></li>
    </ul>
  </div>

</form>
