<nav class="navbar navbar-default" ng-controller="NavCtrl"> <!-- still keep NavCtrl so that functionality works when navbar is injected (which it will be at all times, bc navbar) -->
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      </button> -->
      <a class="navbar-brand" ng-href="/#/geolocate">SAP</a>
      </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="isLoggedIn"><a ng-href="#/party-form">Start A Party</a></li>
        <li ng-show="isLoggedIn"><a ng-href="#/my-profile">Your Profile</a></li>
        <li><a class="logout" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
    <p ng-show="isLoggedIn">{{userName}}</p>
  </div>
</nav>