<h1>{{title}}</h1>
<div>
  <p>Name: {{party.hostName}}</p>
  <p>Details: {{party.occasion}}</p>
  <p>Theme: {{party.theme}}</p>
  <p>Location: {{party.location}}</p>
  <p>Hours: {{party.finishTime}}</p>
</div>
<br>
<div>
  <p>Invited: {{invitedCount}}</p>
  <ul ng-repeat="invitee in party.invited">
    <li>{{invitee.userName}}</li>
  </ul>

</div>
<div>
  <p>Attending: {{attendingCount}}</p>
  <ul ng-repeat="invitee in party.attending">
    <li>{{invitee.userName}}</li>
  </ul>

</div>
<div>
  <p>Declined: {{declinedCount}}</p>
  <ul ng-repeat="invitee in party.declined">
    <li>{{invitee.userName}}</li>
  </ul>
</div>

<div ng-show="rsvp">
  <p>RSVP: {{rsvp}}</p>
  <button ng-disabled="rsvp === 'attending'" ng-click="changeRSVP('attending')">Attend</button>
  <button ng-disabled="rsvp === 'declined'" ng-click="changeRSVP('declined')">Decline</button>
</div>

<div ng-show="owner">
  <a ng-href="/#/invite/{{partyID}}">Invite Party People</a>
</div>





