<h1>{{partyName}}</h1>
<div class="partyDetails">
  <div>
    <p>NAME: {{party.hostName}}</p>
    <p>DETAILS: {{party.occasion}}</p>
    <p>THEME: {{party.theme}}</p>
    <p>LOCATION: {{party.location}}</p>
    <p>HOURS: {{party.finishTime}}</p>
  </div>
</div>
<div class="inviteeStatus">
  <div>
    <p>INVITED: {{invitedCount}}</p>
    <ul ng-repeat="invitee in party.invited">
      <li>{{invitee.userName}}</li>
    </ul>
  </div>
  <div>
    <p>ATTENDING: {{attendingCount}}</p>
    <ul ng-repeat="invitee in party.attending">
      <li>{{invitee.userName}}</li>
    </ul>
  </div>
  <div>
    <p>DECLINED: {{declinedCount}}</p>
    <ul ng-repeat="invitee in party.declined">
      <li>{{invitee.userName}}</li>
    </ul>
  </div>
  <div ng-show="rsvp">
    <p>RSVP: {{rsvp}}</p>
    <button ng-disabled="rsvp === 'attending'" ng-click="changeRSVP('attending')">Attend</button>
    <button ng-disabled="rsvp === 'declined'" ng-click="changeRSVP('declined')">Decline</button>
  </div>

  <div ng-show="owner">
    <a ng-href="/#/invite/{{partyID}}">Invite Party People</a>
  </div>
</div>

<div id="map_canvas">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
    <ui-gmap-marker coords="marker.coords" idkey="marker.id">
    </ui-gmap-marker>
  </ui-gmap-google-map>
</div>







