<h1>{{partyName}}</h1>
<div class="partyDetails">
  <div>
    <p>HOST: {{party.hostName}}</p>
    <p>OCCASION: {{party.occasion}}</p>
    <p>THEME: {{party.theme}}</p>
    <p>WHERE: {{party.location}}</p>
    <p>LEAVE: {{party.finishTime}}</p>
    <button ng-show="isOwner" class="btn btn-danger" ng-click="deleteParty()">Delete Party</button>
  </div>
</div>
<div class="inviteeStatus">
  <div>
    <p>INVITED: {{invitedCount}}</p>
    <ul ng-repeat="invitee in party.invited">
      <li>{{invitee.userName}}</li>
    </ul>
  </div>
  <div>
    <p>ATTENDING: {{attendingCount}}</p>
    <ul ng-repeat="invitee in party.attending">
      <li>{{invitee.userName}}</li>
    </ul>
  </div>
  <div>
    <p>DECLINED: {{declinedCount}}</p>
    <ul ng-repeat="invitee in party.declined">
      <li>{{invitee.userName}}</li>
    </ul>
  </div>
  <div ng-show="rsvp">
    <p>RSVP: {{rsvp}}</p>
    <button class="btn btn-success" ng-disabled="rsvp === 'attending'" ng-click="changeRSVP('attending')">Attend</button>
    <button class="btn btn-info" ng-disabled="rsvp === 'declined'" ng-click="changeRSVP('declined')">Decline</button>
  </div>

  <div  ng-show="owner">
    <button class="btn btn-success"><a class="invite-party-people" ng-href="/#/invite/{{partyID}}">Invite Party People</a></button>
  </div>
  <div>
    <button class="btn btn-success"><a ng-href="/#/supplies">Supplies</a></button>
  </div>
</div>

<div id="map_canvas">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
    <ui-gmap-marker coords="marker.coords" idkey="marker.id">
    </ui-gmap-marker>
  </ui-gmap-google-map>
</div>







