<h1>{{title}}</h1>


<div>
  <label>Beverages</label>
  <div>
    <label><input type="checkbox" name="Beer" id="beer">Beer</label>
    <label><input type="checkbox" name="Wine" id="wine">Wine</label>
    <label><input type="checkbox" name="Liquor" id="liquor">Liquor</label>
    <label><input type="checkbox" name="Cordials" id="cordials">Cordials</label>
    <label><input type="checkbox" name="Water" id="water">Water</label>
    <label><input type="checkbox" name="Soda" id="soda">Soda</label>
    <label><input type="checkbox" name="Juice" id="juice">Juice</label>
    <label><input type="checkbox" name="Mixers" id="mixers">Mixers</label>
  </div>
</div>

<div>
<label>Food</label>
  <div>
    <label><input type="checkbox" name="Chips" id="chips">Chips</label>
    <label><input type="checkbox" name="Burgers" id="burgers">Burgers</label>
    <label><input type="checkbox" name="Buns" id="buns">Buns</label>
    <label><input type="checkbox" name="Condiments" id="condiments">Condiments</label>
    <label><input type="checkbox" name="Veggies" id="veggies">Veggie Tray</label>
    <label><input type="checkbox" name="Fruit" id="fruit">Fruit</label>
    <label><input type="checkbox" name="Cookies" id="cookies">Cookies</label>
    <label><input type="checkbox" name="Nuts" id="nuts">Nuts</label>
  </div>
</div>

<div>
<label>Music</label>
  <div>
    <label><input type="checkbox" name="Speakers" id="speakers">Speakers</label>
    <label><input type="checkbox" name="Turntables" id="turntables">Turntables</label>
    <label><input type="checkbox" name="Records" id="records">Records</label>
    <label><input type="checkbox" name="MP3" id="mp3">MP3 Player</label>
    <label><input type="checkbox" name="Power" id="power">Power Cords</label>
    <label><input type="checkbox" name="Mics" id="mics">Mics</label>
    <label><input type="checkbox" name="Cables" id="cables">Cables</label>
  </div>
</div>

<div>
<label>Decorations</label>
  <div>
    <label><input type="checkbox" name="Balloons" id="balloons">Balloons</label>
    <label><input type="checkbox" name="Streamers" id="streamers">Streamers</label>
    <label><input type="checkbox" name="Hats" id="hats">Hats</label>
    <label><input type="checkbox" name="Decals" id="decals">Decals</label>
  </div>
</div>


<button type="" class="btn btn-default" ng-click="createSuppliesList()">Party On</button>
